*.exe
*.csv
*.asv
*.ld

C/wrap_receiver_2/*
!C/wrap_receiver_2/*.ioc
!C/wrap_receiver_2/Core/
C/wrap_receiver_2/Core/Startup/

C/wrap_receiver_2/Core/Src/*.c
!C/wrap_receiver_2/Core/Src/main.c
!C/wrap_receiver_2/Core/Src/receiver.c

C/wrap_receiver_2/Core/Inc/*.h
!C/wrap_receiver_2/Core/Inc/constants.h
!C/wrap_receiver_2/Core/Inc/main.h
!C/wrap_receiver_2/Core/Inc/receiver.h
